@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}

/* W pliku CSS projektu */
.hover-effect:hover {
  color: #f0f0f0; /* przykładowy kolor dla efektu hover */
  transform: scale(1.1); /* lekkie powiększenie */
  transition: transform 0.3s
}

/* global.css or the relevant CSS/SCSS file */
.hover-effect {
  transition: color 0.3s ease;
}

/* Add this class to your Footer div */
.z-index-footer {
  position: relative; /* Required for z-index to work */
  z-index: 25; /* Higher than the canvas */
}
/* Assuming you're using a global CSS file */
.stake-button {
  color: white;
  background-color: rgba(138, 43, 226, 0.7); /* Violet with transparency */
  border: solid 1px #8a2be2; /* Border color */
  transition: ease-in 200ms;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.stake-button {
  /* Existing styles */
  position: relative; /* Needed to enable z-index */
  z-index: 100; /* Example value, ensure this is higher than the StarsCanvas z-index */
}

.stake-button:hover {
  background-color: rgba(138, 43, 226, 0.9); /* Darker violet on hover */
  color: white;
  border-color: transparent;
}

